<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head_css") %>
</head>

<body>

    <%- include("partials/loader") %>

    <%- include("partials/navbar") %>

    <main>

        <!--================= Banner section start =================-->
        <section class="vl-breadcrumb-bg p-relative z-index-1 fix pt-200 pb--70" style="background-image: url(/img/banner/vl-breadcrumb-bg.png);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6 mb-30">
                        <div class="vl-breadcrumb">
                            <h1 class="vl-fs-60 vl-white">Contact Us</h1>
                            <div class="vl-breadcrumb-list">
                                <span><a href="index">Home</a></span>
                                <span class="dvir"><i class="fa-solid fa-angle-right"></i></span>
                                <span class="active"><a href="#">Contact Us</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 mb-30">
                        <div class="vl-hero-img p-relative d-none d-lg-block">
                            <div class="vl-hero-shape-4">
                                <div class="vl-shape-2">
                                    <img src="/img/icons/vl-emoji-4.2.svg" alt="">
                                </div>
                                <div class="vl-shape-3">
                                    <img src="/img/icons/vl-emoji-4.3.svg" alt="">
                                </div>
                            </div>
                            <div class="vl-breadcrumb-fan">
                                <img class="w-100" src="/img/icons/vl-fan-sm.svg" alt="">
                            </div>
                            <div class="vl-breadcrumb-img text-center">
                                <img src="/img/banner/infinity-hero-transparent.png" alt="Contact Infinity Tech" style="transform: scale(0.99); transform-origin: center center; max-height: 352px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================= Banner section End =================-->

        <!--================= Contact section start =================-->
        <section class="vl-contact-iner pt-100 pb-70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="vl-contact-iner-box br-8 vl-gray-bg-4 mb-30">
                            <h3 class="vl-fs-24 vl-lineheight-24 vl-text-cmn-blck pb-20 m-0">Send us a Message</h3>
                            <p class="vl-text-para vl-fs-18 vl-lineheight-28 pb-30 m-0">Have questions or need assistance? We're here to help! Whether you're exploring mobile apps, web applications, or school SaaS solutions.</p>
                            <div class="vl-contact-iner-form">
                                <div class="row">
                                    <div class="col-lg-6 mb-20">
                                        <input type="text" placeholder="First Name">
                                    </div>
                                    <div class="col-lg-6 mb-20">
                                        <input type="text" placeholder="Last Name">
                                    </div>
                                    <div class="col-lg-6 mb-20">
                                        <input type="Email" placeholder="Email">
                                    </div>
                                    <div class="col-lg-6 mb-20">
                                        <input type="number" placeholder="Phone Number">
                                    </div>
                                    <div class="col-lg-12 mb-20">
                                        <input type="text" placeholder="Subject">
                                    </div>
                                    <div class="col-lg-12 mb-20">
                                        <textarea name="message" id="message" placeholder="Your Message"></textarea>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="vl-about-inner-btn fl-right">
                                            <button class="vl-iner-btn">Send Now <span><i class="fa-light fa-arrow-right"></i></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="vl-contact-iner-widget ml-50 mb-30">
                            <div class="vl-section-title-wrapper">
                                <h4 class="vl-section-subtitle-7 vl-upper">Contact us</h4>
                                <h2 class="vl-section-title vl-section-title-2 pt-16 pb-36">Let’s Connect & Empower <br> Your Business</h2>
                            </div>

                            <div class="vl-contact-iner-widget-1 vl-gray-bg-4 br-8 mb-20">
                                <div class="vl-contact-iner-widget-1-icon mr-16">
                                    <span><img src="/img/icons/vl-contact-iner-phone.svg" alt="Phone Icon"></span>
                                </div>
                                <div class="vl-contact-iner-widget-1-content">
                                    <h5 class="vl-contact-iner-widget-1-content-title pb-14 m-0">Give Us a Call</h5>
                                    <a href="tel:+252615565249">+252615565249</a>
                                </div>
                            </div>

                            <div class="vl-contact-iner-widget-1 vl-gray-bg-4 br-8 mb-20">
                                <div class="vl-contact-iner-widget-1-icon mr-16">
                                    <span><img src="/img/icons/vl-contact-iner-mail.svg" alt="Email Icon"></span>
                                </div>
                                <div class="vl-contact-iner-widget-1-content">
                                    <h5 class="vl-contact-iner-widget-1-content-title pb-14 m-0">Send Us an Email</h5>
                                    <a href="mailto:suppport@infotech.com">suppport@infotech.com</a>
                                </div>
                            </div>

                            <div class="vl-contact-iner-widget-1 vl-gray-bg-4 br-8 mb-20">
                                <div class="vl-contact-iner-widget-1-icon mr-16">
                                    <span><img src="/img/icons/vl-contact-iner-location.svg" alt="Location Icon"></span>
                                </div>
                                <div class="vl-contact-iner-widget-1-content">
                                    <h5 class="vl-contact-iner-widget-1-content-title pb-14 m-0">Our Office Location</h5>
                                    <a href="https://www.google.com/maps/place/Hodan,+Mogadishu,+Somalia/@2.0455964,45.2903738,15z/data=!3m1!4b1!4m15!1m8!3m7!1s0x3d58425955ce6b53:0xbb20eaaa52cc59d9!2sMogadishu,+Somalia!3b1!8m2!3d2.0372133!4d45.3379172!16zL20vMGdjbGI!3m5!1s0x3d58420b91f45b93:0xee2da9712473db4c!8m2!3d2.0417508!4d45.3098243!16s%2Fg%2F11bwf0yqc5?entry=ttu&g_ep=EgoyMDI2MDcxOS4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer">degmada hodan , mogadisho</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================= Contact section End =================-->

        <!-- map -->
        <div class="vl-contact-iner-map pb-70">
            <div class="container">
                <iframe src="https://maps.google.com/maps?q=Hodan,%20Mogadishu,%20Somalia&t=&z=15&ie=UTF8&iwloc=&output=embed" class="vl-contact-iner-google-map mb-30 br-8" style="width: 100%; height: 450px; border: 0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>

        <%- include("partials/cta") %>

    </main>

    <%- include("partials/footer") %>

    <%- include("partials/progress_circle") %>

    <%- include("partials/footer_scripts") %>

</body>

</html>
