<!DOCTYPE html>
<html lang="en">

<head>
    

    <%- include("partials/head_css") %>
</head>

<body>

    <%- include("partials/loader") %>

    <%- include("partials/navbar") %>

    <main>

        <!--================= Banner section start =================-->
        <section class="vl-breadcrumb-bg p-relative z-index-1 fix pt-200 pb--70" style="background-image: url(/img/banner/vl-breadcrumb-bg.png);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6 mb-30">
                        <div class="vl-breadcrumb">
                            <h1 class="vl-fs-60 vl-white">Our Testimonials</h1>
                            <div class="vl-breadcrumb-list">
                                <span><a href="index">Home</a></span>
                                <span class="dvir"><i class="fa-solid fa-angle-right"></i></span>
                                <span class="active"><a href="#">Our Testimonials</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 mb-30">
                        <div class="vl-hero-img p-relative">
                            <div class="vl-hero-shape-4">
                                <div class="vl-shape-2">
                                    <img src="/img/icons/vl-emoji-4.2.svg" alt="">
                                </div>
                                <div class="vl-shape-3">
                                    <img src="/img/icons/vl-emoji-4.3.svg" alt="">
                                </div>

                            </div>
                            <div class="vl-breadcrumb-fan">
                                <img class="w-100" src="/img/icons/vl-fan-sm.svg" alt="">
                            </div>
                            <div class="vl-breadcrumb-img">
                                <img src="/img/banner/vl-breadcrumb-1.png" alt="">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================= Banner section End =================-->

        <!--================= Testimonial section start =================-->
        <section class="vl-tesimonial-iner pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <!-- Review 1 -->
                    <div class="col-lg-6 col-md-6">
                        <div class="vl-testimonial-box vl-testimonial-box-inner vl-gray-bg-4 p-relative br-8 mb-30">
                            <div class="vl-testimonial-box-icon vl-testimonial-box-icon-2">
                                <a href="javascript:void(0);"><i class="fa-solid fa-star"></i></a>
                                <a href="javascript:void(0);"><i class="fa-solid fa-star"></i></a>
                                <a href="javascript:void(0);"><i class="fa-solid fa-star"></i></a>
                                <a href="javascript:void(0);"><i class="fa-solid fa-star"></i></a>
                                <a href="javascript:void(0);"><i class="fa-solid fa-star"></i></a>
                            </div>
                            <div class="vl-testimonial-box-content pt-20 pb-30">
                                <p class="vl-text-cmn-blck vl-medium vl-fs-20 vl-lineheight-32">“Infinity Tech transformed our entire school operations with their School SaaS management platform. Student grading, attendance tracking, and parent SMS notifications are 100% automated and effortless!”</p>
                            </div>
                            <div class="vl-testimonial-box-auth p-relative">
                                <div class="vl-testimonial-box-auth-img">
                                    <img src="/img/testimonial/somali-avatar-1.jpg" alt="Farhiya Mohamed">
                                </div>
                                <div class="vl-testimonial-box-auth-content">
                                    <h4 class="vl-text-cmn-blck vl-fs-20 vl-lineheight-32 m-0"><a href="javascript:void(0);">Farhiya Mohamed</a></h4>
                                    <span class="degsination">School Director, Debka Academy</span>
                                </div>
                                <div class="vl-testimonial-box-quote">
                                    <img src="/img/icons/qt-iner.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Review 2 -->
                    <div class="col-lg-6 col-md-6">
                        <div class="vl-testimonial-box vl-testimonial-box-inner vl-gray-bg-4 p-relative br-8 mb-30">
                            <div class="vl-testimonial-box-icon vl-testimonial-box-icon-2">
                                <a href="javascript:void(0);"><i class="fa-solid fa-star"></i></a>
                                <a href="javascript:void(0);"><i class="fa-solid fa-star"></i></a>
                                <a href="javascript:void(0);"><i class="fa-solid fa-star"></i></a>
                                <a href="javascript:void(0);"><i class="fa-solid fa-star"></i></a>
                                <a href="javascript:void(0);"><i class="fa-solid fa-star"></i></a>
                            </div>
                            <div class="vl-testimonial-box-content pt-20 pb-30">
                                <p class="vl-text-cmn-blck vl-medium vl-fs-20 vl-lineheight-32">“The custom iOS and Android mobile app developed by Infinity Tech is fast, reliable, and beautifully designed. Mobile order processing for our retail customers grew dramatically!”</p>
                            </div>
                            <div class="vl-testimonial-box-auth p-relative">
                                <div class="vl-testimonial-box-auth-img">
                                    <img src="/img/testimonial/somali-avatar-2.jpg" alt="Abdirahman Ali">
                                </div>
                                <div class="vl-testimonial-box-auth-content">
                                    <h4 class="vl-text-cmn-blck vl-fs-20 vl-lineheight-32 m-0"><a href="javascript:void(0);">Abdirahman Ali</a></h4>
                                    <span class="degsination">Founder, Horn Mobile Retail</span>
                                </div>
                                <div class="vl-testimonial-box-quote">
                                    <img src="/img/icons/qt-iner.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Review 3 -->
                    <div class="col-lg-6 col-md-6">
                        <div class="vl-testimonial-box vl-testimonial-box-inner vl-gray-bg-4 p-relative br-8 mb-30">
                            <div class="vl-testimonial-box-icon vl-testimonial-box-icon-2">
                                <a href="javascript:void(0);"><i class="fa-solid fa-star"></i></a>
                                <a href="javascript:void(0);"><i class="fa-solid fa-star"></i></a>
                                <a href="javascript:void(0);"><i class="fa-solid fa-star"></i></a>
                                <a href="javascript:void(0);"><i class="fa-solid fa-star"></i></a>
                                <a href="javascript:void(0);"><i class="fa-solid fa-star"></i></a>
                            </div>
                            <div class="vl-testimonial-box-content pt-20 pb-30">
                                <p class="vl-text-cmn-blck vl-medium vl-fs-20 vl-lineheight-32">“Infinity Tech engineered a modern enterprise web application with Node.js and cloud databases. Their engineering team in Wadada Debka delivered world-class results!”</p>
                            </div>
                            <div class="vl-testimonial-box-auth p-relative">
                                <div class="vl-testimonial-box-auth-img">
                                    <img src="/img/testimonial/somali-avatar-3.jpg" alt="Hassan Omar">
                                </div>
                                <div class="vl-testimonial-box-auth-content">
                                    <h4 class="vl-text-cmn-blck vl-fs-20 vl-lineheight-32 m-0"><a href="javascript:void(0);">Hassan Omar</a></h4>
                                    <span class="degsination">CEO, Debka Logistics & Tech</span>
                                </div>
                                <div class="vl-testimonial-box-quote">
                                    <img src="/img/icons/qt-iner.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Review 4 -->
                    <div class="col-lg-6 col-md-6">
                        <div class="vl-testimonial-box vl-testimonial-box-inner vl-gray-bg-4 p-relative br-8 mb-30">
                            <div class="vl-testimonial-box-icon vl-testimonial-box-icon-2">
                                <a href="javascript:void(0);"><i class="fa-solid fa-star"></i></a>
                                <a href="javascript:void(0);"><i class="fa-solid fa-star"></i></a>
                                <a href="javascript:void(0);"><i class="fa-solid fa-star"></i></a>
                                <a href="javascript:void(0);"><i class="fa-solid fa-star"></i></a>
                                <a href="javascript:void(0);"><i class="fa-solid fa-star"></i></a>
                            </div>
                            <div class="vl-testimonial-box-content pt-20 pb-30">
                                <p class="vl-text-cmn-blck vl-medium vl-fs-20 vl-lineheight-32">“Outstanding School SaaS platform! Infinity Tech delivered exceptional quality, simplifying tuition collection, exam results publishing, and administrative reporting.”</p>
                            </div>
                            <div class="vl-testimonial-box-auth p-relative">
                                <div class="vl-testimonial-box-auth-img">
                                    <img src="/img/testimonial/somali-avatar-4.jpg" alt="Aisha Dahir">
                                </div>
                                <div class="vl-testimonial-box-auth-content">
                                    <h4 class="vl-text-cmn-blck vl-fs-20 vl-lineheight-32 m-0"><a href="javascript:void(0);">Aisha Dahir</a></h4>
                                    <span class="degsination">Principal, Somaliland Modern School</span>
                                </div>
                                <div class="vl-testimonial-box-quote">
                                    <img src="/img/icons/qt-iner.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div></section>
        <!--================= Testimonial section End =================-->

        <%- include("partials/cta") %>

    </main>

    <%- include("partials/footer") %>

    <%- include("partials/progress_circle") %>

    <%- include("partials/footer_scripts") %>

</body>

</html>
